
<!doctype html>
<html lang="en" class="full-height">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" media="screen" title="Someplace New Stylesheet" charset="utf-8">
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <title> Someplace New</title>


</head>
<body class="translucent">

  <!--Choosing a navbar Style -->
  <!--Always Expand -->
  <nav class="navbar navbar-expand navbar-dark translucent">
  <a class="navbar-brand" href="#">Someplace New</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" id="game-link">By Address<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="some-link">By Zipcode</a>
      </li>
    </ul>
    <span id="blurb" class="navbar-text">
      <i>Find new Seattle restaurants near you!</i>
    </span>
  </div>
</nav>
  <div class="container">
    <!-- <div class="row" id="explainer-row">
      <div id="explainer">
        Someplace New helps you find recently opened restaurants in the Seattle area.  Enter your address (or any address) into the form below, and Someplace New will return a list of recently opened restaurants, sorted by distance to your location.
      </div>
    </div> -->
    <div class="row" id="row1">
      <div class="col-12 img-responsive" id="content-box" class="default-box">
        <form id="zip-form">
          Enter Zip Code: <input type="text" name="zipbox" id="zip">
          <input type="submit" value="Find New Restaurants By Zip Code" class="submit-button">
        </form>
      </div>
      <div class="col-12 img-responsive" id="display-box">
      </div>
    </div>
    <div class="row" id="row2">
      <div class="col-12 img-responsive" id="content-box2" class="default-box">
        <form id="address-form" class="form-style">
          Enter An Address: <input class="form-input-text transparent" type="text" name="address-box" id="address" placeholder="Find new restaurants near you!">
          <input type="submit" value="Go!" class="submit-button">
        </form>
      </div>
      <div class="col-12 img-responsive" id="display-box2">
      </div>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="app.js"></script>
</html>
